html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#photo {
	position: relative;
	margin: 0;
	padding: 0;
	height: 600px;
	background: url('../../img/howitt.jpg') 50% 0 no-repeat;
}

.talking {
	animation: jibba-jabba .2s steps(2) infinite;
}

@keyframes jibba-jabba {
	0% {
  		background-position: 50% 0;
  	}
	100% {
		background-position: 50% -1200px;
	}
}

$right-pos: 50px;
$larger-right-pos: 200px;

#speak {
	position: absolute;
	top: 400px;
	right: $right-pos;
	font-size: 2em;
	padding: 5px 10px;
	background: rgb(76, 47, 81);
	color: white;
	border: none;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
	box-shadow:
		-8px -8px 0 rgb(176, 50, 51),
		-7px -7px 0 rgb(176, 50, 51),
		-6px -6px 0 rgb(176, 50, 51),
		-5px -5px 0 rgb(176, 50, 51),
		-4px -4px 0 rgb(176, 50, 51),
		-3px -3px 0 rgb(176, 50, 51),
		-2px -2px 0 rgb(176, 50, 51),
		-1px -1px 0 rgb(176, 50, 51);

	@media screen and (min-width: 500px) {
		padding: 10px 20px;
		font-size: 3em;
	}

	@media screen and (min-width: 600px) {
		padding: 20px 40px;
		font-size: 4em;
	}

	@media screen and (min-width: 980px) {
		right: $larger-right-pos;
	}
}

#speak:hover {
	top: 398px;
	right: $right-pos + 2;
	box-shadow:
		-6px -6px 0 rgb(176, 50, 51),
		-5px -5px 0 rgb(176, 50, 51),
		-4px -4px 0 rgb(176, 50, 51),
		-3px -3px 0 rgb(176, 50, 51),
		-2px -2px 0 rgb(176, 50, 51),
		-1px -1px 0 rgb(176, 50, 51);

	@media screen and (min-width: 980px) {
		right: $larger-right-pos + 2;
	}
}

#speak.active {
	top: 392px;
	right: $right-pos + 8;
	box-shadow: none;
	@media screen and (min-width: 980px) {
		right: $larger-right-pos + 8;
	}
}
